<mat-card class="container">
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field appearance="fill" class="size">
      <input
        matInput
        matInput
        type="text"
        name="title"
        [ngModel] = 'post.title'
        placeholder="Enter course study"
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid" class="error-text">Please enter a course Description</mat-error>
    </mat-form-field>
    <mat-form-field class="size">
      <textarea
        matInput
        row="5"
        name="content"
        [ngModel] = 'post.content'
        placeholder="Description"
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid" class="error-text">Please enter a course title</mat-error>
    </mat-form-field>
   

    <div class="btn-cont">
      <button class="bu tton" 
      mat-raised-button 
      type="submit"
    >Save post</button>
    
    </div>
  </form>
</mat-card>
